div#headerCarousel.carousel.slide(data-ride="carousel")
    .carousel-inner
        .carousel-item.active(data-interval="2500" data-pause="false" data-ride="true")
            img.first-slide(src="https://skrollex.x40.ru/theme-alice/images/bg/THOR/2941950875_2b2447b557_o-edt.jpg" alt="First slide")
            .container
                .carousel-caption.text-left
                    h1.animate__animated.animate__slideInLeft Example headline.
                    p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    p
                        a.button.background-60-d.heading-d(href="#about") About Us
                        a.button.background-60-f.heading-d(href="#about") Our Work

        .carousel-item(data-interval="2500" data-pause="false" data-ride="true")
            img.second-slide(src="https://skrollex.x40.ru/theme-alice/images/bg/THOR/2945791126_0e4aff223a_o.jpg" alt="Second slide")
            .container
                .carousel-caption
                    h1.animate__animated.animate__slideInLeft Another example headline.
                    p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    p
                        a.button.background-60-d.heading-d(href="#about") About Us
                        a.button.background-60-f.heading-d(href="#about") Our Work

    a.carousel-control-prev(href="#headerCarousel", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous

    a.carousel-control-next(href="#headerCarousel", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next