header
  nav.navbar.navbar-expand-lg.navbar-expand-lg.navbar-light.bg-light
    .container.d-flex.justify-content-between
      a.navbar-brand(href="/")
        strong Portfolio
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href="#home") Home
          li.nav-item
            a.nav-link(href="#about") About
          li.nav-item
            a.nav-link(href="#team") Team
          li.nav-item
            a.nav-link(href="#services") Services
          li.nav-item
            a.nav-link(href="#work") Work
          li.nav-item
            a.nav-link(href="#process") Process
          li.nav-item
            a.nav-link(href="#skills") Skills
          li.nav-item
            a.nav-link(href="#contact") Contact