extends layout

block content
    .container
        .text-center
            h2 About
            footer.blockquote-footer
                WE CREATE AWESOME STUFF

        .text-center
            p Lorem ipsum ex dolore ad in cillum nulla incididunt nisi elit nulla ut tempor ea dolor excepteur dolor ad ut in ut dolor in dolor eiusmod anim ea incididunt cupidatat occaecat officia anim labore id anim exercitation sint dolor ea aute labore in elit aliqua laborum adipisicing ut irure aliquip sint dolor duis aliquip laborum sunt pariatur occaecat laborum est duis ut sit dolore esse est ut anim id qui ex minim ut in pariatur do aliquip enim labore ad consequat qui sit sunt magna nisi exercitation amet nostrud ad ea labore aliqua officia deserunt commodo in enim.

        p &nbsp;

        .container
            .card-deck.mb-3.text-center
                .card.mb-4
                    .card-header
                        h4.my-0.font-weight-normal.uppercase Web 
                            span.highlight Development
                    .card-body
                        p Lorem ipsum velit nisi quis dolore exercitation anim in nisi qui qui quis deserunt excepteur dolore ex qui mollit irure consequat ut eiusmod reprehenderit aute et aliqua commodo incididunt id dolor ad proident commodo dolore velit anim magna in consequat eu.
                .card.mb-4
                    .card-header
                        h4.my-0.font-weight-normal.uppercase Internet 
                            span.highlight Marketing
                    .card-body
                        p Mollit laboris consectetur aliqua cupidatat fugiat labore esse irure consectetur tempor quis velit elit cupidatat minim pariatur tempor ut officia sit anim cillum ea fugiat culpa in.
                .card.mb-4
                    .card-header
                        h4.my-0.font-weight-normal.uppercase Client 
                            span.highlight Support
                    .card-body
                        p Sint incididunt quis excepteur quis aliquip dolor ut cupidatat labore dolor in veniam quis anim qui ut laborum enim fugiat nisi ut ex labore ad consequat sit culpa aute eiusmod consectetur dolor.
        
    .content.colors-h.how-work.mt-4.mb-4.pt-4.pb-4
        .container.mt-4.mb-4.pt-4.pb-4
            h3.text-center
                span.highlight How&nbsp;
                We Work

            .row
                .col-md-12
                    p.text-center Aliquam fermentum massa ac est sollicitudin, at ultricies ligula tristique. Cras finibus, nulla ac convallis feugiat, nisl nisl lobortis est, eget auctor velit magna vel nunc. Donec nec eros rhoncus.

            p &nbsp;

            .row.icon-set
                .col-md-3.text-center
                    p.title
                        span.underline-text Awesome
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                .col-md-3.text-center
                    p.title
                        span.underline-text Innovative
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                .col-md-3.text-center
                    p.title
                        span.underline-text Creative
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                .col-md-3.text-center
                    p.title
                        span.underline-text Experimental
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .container
        .text-center
            h2 About
            footer.blockquote-footer
                WE CREATE AWESOME STUFF

        .text-center
            p Lorem ipsum ex dolore ad in cillum nulla incididunt nisi elit nulla ut tempor ea dolor excepteur dolor ad ut in ut dolor in dolor eiusmod anim ea incididunt cupidatat occaecat officia anim labore id anim exercitation sint dolor ea aute labore in elit aliqua laborum adipisicing ut irure aliquip sint dolor duis aliquip laborum sunt pariatur occaecat laborum est duis ut sit dolore esse est ut anim id qui ex minim ut in pariatur do aliquip enim labore ad consequat qui sit sunt magna nisi exercitation amet nostrud ad ea labore aliqua officia deserunt commodo in enim.

        p &nbsp;

        .container
            .card-deck.mb-3.text-center
                .card.mb-4
                    .card-header
                        h4.my-0.font-weight-normal.uppercase Web 
                            span.highlight Development
                    .card-body
                        p Lorem ipsum velit nisi quis dolore exercitation anim in nisi qui qui quis deserunt excepteur dolore ex qui mollit irure consequat ut eiusmod reprehenderit aute et aliqua commodo incididunt id dolor ad proident commodo dolore velit anim magna in consequat eu.
                .card.mb-4
                    .card-header
                        h4.my-0.font-weight-normal.uppercase Internet 
                            span.highlight Marketing
                    .card-body
                        p Mollit laboris consectetur aliqua cupidatat fugiat labore esse irure consectetur tempor quis velit elit cupidatat minim pariatur tempor ut officia sit anim cillum ea fugiat culpa in.
                .card.mb-4
                    .card-header
                        h4.my-0.font-weight-normal.uppercase Client 
                            span.highlight Support
                    .card-body
                        p Sint incididunt quis excepteur quis aliquip dolor ut cupidatat labore dolor in veniam quis anim qui ut laborum enim fugiat nisi ut ex labore ad consequat sit culpa aute eiusmod consectetur dolor.
        
    .content.colors-h.we-are.mt-4.mb-4.pt-4.pb-4
        .container.mt-4.mb-4.pt-4.pb-4
            h3.text-center
                span.highlight How&nbsp;
                We Work

            .row
                .col-md-12
                    p.text-center Aliquam fermentum massa ac est sollicitudin, at ultricies ligula tristique. Cras finibus, nulla ac convallis feugiat, nisl nisl lobortis est, eget auctor velit magna vel nunc. Donec nec eros rhoncus.

            p &nbsp;

            .row.icon-set
                .col-md-3.text-center
                    p.title
                        span.underline-text Awesome
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                .col-md-3.text-center
                    p.title
                        span.underline-text Innovative
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                .col-md-3.text-center
                    p.title
                        span.underline-text Creative
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                .col-md-3.text-center
                    p.title
                        span.underline-text Experimental
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

