doctype html
html
  head
    title DFO FE Test Portfolio
    meta(name="description", content="")
    meta(name="robots", content="noindex, nofollow")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(rel="stylesheet" href="style.css")

  body
    include header.pug

    main#main
      include headerCarousel.pug

      block content

    include footer.pug
    
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
    script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
    