.container {
  width: 93%;
  margin: auto;
}

.column {
  position: relative;
  float: left;
  min-height: 1px;
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 8px;
}

.col-span {
  width: 50%;
}



/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 95vh;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

@media (max-width: 767px) {
  .carousel-item > img {
    height: 90vh;
  }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.button {
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.button:before {
    content: '';
    position: absolute;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btn, a.button, input.button {
    border-style: solid;
    border-width: 1px;
    line-height: 22px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

a.button, input.button {
    font-size: 13px;
}


.btn, a.button, input.button {
    font-weight: 400;
}

.heading-d {
    color: #fff!important;
}

.background-60-d {
    background-color: rgba(179,119,82,.6)!important;
}

.background-60-f {
    background-color: rgba(38,40,51,.6)!important;
}

.btn, .button, input.button {
    letter-spacing: 2px;
}

.button {
    margin: 2px;
}

.highlight {
  display: inline-block;
  color: #cb875f;
}

.colors-a a:hover, a.colors-a:hover {
    color: rgba(203,135,95,.75);
}

.button:hover:before {
    height: 75%;
    opacity: 1;
}

.card {
  border: none;
}

.card-header {
  background-color: transparent;
  border: none;
}

.uppercase {
  text-transform: uppercase;
}

.view {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.colors-h {
  color: #efefef;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
}

/*@media (max-width: 768px) {
  .colors-h {
    height: 50vh;
  }
}*/

.how-work {
  background-image: url(https://skrollex.x40.ru/theme-alice/images/bg/pexels/coffee-coffee-machine-cup-3042.jpg);
  background-color: rgba(14,14,15,.85);
}


.we-are {
  background-image: url(https://skrollex.x40.ru/theme-alice/images/bg/picjumbo/picjumbo.com_IMG_7432.jpg);
  background-color: rgba(14,14,15,.85);
}

.view > .content {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
}
